<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>thekamoda resort - admin</title>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid px-lg-5">
        <a class="navbar-brand" href="#">Thekamoda - Admin</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <a class="nav-link active" aria-current="page" href="/background"
              >Background</a
            >
          </div>
        </div>
      </div>
    </nav>
    <div class="px-lg-4 px-md-2 py-5">
      <div class="d-flex align-items-center justify-content-center flex-column">
        <form
          action="/updatePopup"
          method="post"
          class="w-75"
          enctype="multipart/form-data"
        >
          <h1 class="hhhh">Update Images</h1>
          <div class="py-5 w-75">
            <label for="exampleInputEmail1" class="form-label">Full Url</label>
            <input
              type="file"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              name="photo"
              require="true"
              accept="image/*"
            />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <div class="table-responsive w-100 p-5">
          <table class="w-100 table table-hover">
            <thead>
              <tr>
                <th>name</th>
                <th>image</th>
                <th>delete</th>
              </tr>
            </thead>
            <tbody>
              <% data.forEach(element => { %>
              <tr>
                <td>
                  <p><%= element.name %></p>
                </td>
                <td>
                  <a href="<%= element.url %>"
                    ><img src="<%= element.url %>" alt="" width="70px"
                  /></a>
                </td>
                <td>
                  <a href="/updatePopup/delete/<%= element._id %> ">Delete</a>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
